* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

main .baner .baner_item a span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }
  .container {
    height: 100%;
    margin-top: 0;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
  }
  header .navigation {
    padding: 14px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  header .navigation .logo img {
    width: 100%;
  }
  header .navigation .header_more {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding-top: 6px;
  }
  header .navigation .header_more i {
    display: block;
    text-align: center;
  }
  header .navigation .header_more a {
    color: #000000;
  }
  header .navigation .header_more nav {
    display: none;
  }
  header .navigation .header_more button {
    padding-bottom: 6px;
    border: none;
    background-color: transparent;
  }
  .discount_info {
    background-color: #BB2000;
  }
  .discount_info span {
    display: block;
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
  }
  main .baner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  main .baner .baner_item {
    width: 100%;
    height: 45vw;
    background-color: #F9F9F9;
  }
  main .baner .baner_item a {
    display: block;
    font-size: 1.2em;
    font-weight: 200;
    color: #231F20;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
  }
  main .for_you .for_you_slider a .for_you_item {
    margin-left: 60%;
    width: 75%;
  }
  main .for_you .for_you_slider a .for_you_item img {
    margin-left: 40px;
    width: 80%;
  }
  main .for_you .for_you_slider a .for_you_item .info {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
  main .for_you .for_you_slider a .for_you_item .info span {
    color: #000000;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(1) {
    font-size: 15px;
    letter-spacing: 4px;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(2) {
    font-size: 12px;
    color: #747474;
    padding-bottom: 10px;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(3) {
    font-size: 20px;
    font-weight: bold;
    position: relative;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(3).promo {
    color: #BB2000;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(3) span {
    position: absolute;
    font-weight: normal;
    text-decoration: line-through;
    letter-spacing: normal;
    color: #747474;
    padding-left: 8px;
  }
  main .blog {
    padding-bottom: 36px;
  }
  main .blog .slick-prev {
    position: absolute;
    font-size: 30px;
    left: 0;
    top: 40%;
    z-index: 1;
  }
  main .blog .slick-next {
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 40%;
    z-index: 1;
  }
  main .blog span {
    display: block;
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
    color: #707070;
    padding-bottom: 10px;
  }
  main .blog .social {
    display: block;
    text-align: center;
    padding-bottom: 24px;
  }
  main .blog .social a {
    color: #000000;
    font-size: 30px;
  }
  main .blog .blog_slider {
    padding-right: 10px;
    padding-left: 10px;
  }
  main .blog .blog_slider img {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 980px) {
  .mobile {
    display: none;
  }
  .container {
    padding-top: 0;
  }
  main .baner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
    padding-left: 141px;
    padding-right: 141px;
  }
  main .baner .baner_item .mobile {
    display: none;
  }
  main .baner .baner_item .container {
    margin-top: 0;
  }
  header .discount .discount_info {
    background-color: #BB2000;
  }
  header .discount .discount_info span {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 0;
  }
  header .discount_more {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 13% 13% 13%;
        grid-template-columns: 30% 13% 13% 13%;
    background-color: #231F20;
    color: #ffffff;
  }
  header .discount_more i {
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 8px 0;
  }
  header .navigation {
    padding: 31px 141px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 17%;
  }
  header .navigation .logo img {
    width: 311px;
    height: 63px;
  }
  header .navigation .search {
    margin-top: 24px;
    border-bottom: 1px solid #707070;
    max-height: 20px;
  }
  header .navigation .search form input {
    border: none;
    width: 90%;
  }
  header .navigation .search i {
    padding-left: 5px;
  }
  header .navigation .header_more {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-top: 16px;
    text-align: center;
  }
  header .navigation .header_more a {
    color: #000000;
  }
  header .navigation .header_more a div {
    padding-top: 8px;
  }
  header .navigation .header_more .basket {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding-top: 0px;
  }
  header .navigation .header_more .basket i {
    padding-top: 8px;
  }
  header .navigation .header_more .basket .cash {
    padding-top: 0px;
    text-align: left;
    width: 60px;
    font-size: 13px;
  }
  header .navigation .header_more .basket .cash p {
    font-size: 14px;
    font-weight: bold;
  }
  header .navigation .header_more .language {
    padding-top: 4px;
  }
  header .navigation .header_more .language button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border: none;
    position: relative;
  }
  header .navigation .header_more .language .language-content {
    display: none;
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    z-index: 20000;
    background-color: #ffffff;
  }
  header .navigation .header_more .language img {
    padding-top: 4px;
  }
  header .navigation .header_more .language i {
    font-size: 8px;
  }
  nav .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    padding: 0 20%;
  }
  nav ul {
    margin: 0 20%;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    font-size: 18px;
  }
  nav ul .active a {
    color: #BB2000;
  }
  nav ul a {
    color: #231F20;
  }
  nav li {
    position: relative;
  }
  nav li .menu {
    position: absolute;
    left: -19vw;
    width: 98vw;
    z-index: 2;
  }
  nav li ul {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  nav li ul li ul {
    display: block;
  }
  main .slider .fullslide {
    width: 100vw;
    height: 50vh;
    background-color: #F9F9F9;
    position: relative;
  }
  main .slider .fullslide span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main .mark_slider {
    position: relative;
    margin-left: 130px;
    margin-right: 130px;
  }
  main .mark_slider .helper1 {
    padding-top: 20px;
  }
  main .mark_slider button {
    border: none;
    background-color: transparent;
    color: #CFCFCF;
  }
  main .mark_slider .slick-prev {
    position: absolute;
    font-size: 50px;
    left: 0;
    top: 20px;
    z-index: 1;
  }
  main .mark_slider .slick-next {
    position: absolute;
    font-size: 50px;
    right: 0;
    top: 20px;
    z-index: 1;
  }
  main .mark_slider .slick-list {
    margin-left: 80px;
    margin-right: 25px;
  }
  main .mark_slider img:hover {
    opacity: 0.5;
  }
  main .mark_slider img a {
    display: block;
    width: 100%;
    height: 100%;
  }
  main .baner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
    padding-left: 141px;
    padding-right: 141px;
  }
  main .baner .baner_item {
    width: 100%;
    height: 24vw;
    background-color: #F9F9F9;
  }
  main .baner .baner_item a {
    display: block;
    font-size: 1.2em;
    color: #231F20;
    width: 100%;
    height: 100%;
    position: relative;
  }
  main .for_you {
    padding-top: 80px;
    position: relative;
  }
  main .for_you span {
    display: block;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    color: #231F20;
    padding-bottom: 20px;
  }
  main .for_you button {
    border: none;
    background-color: transparent;
    color: #CFCFCF;
  }
  main .for_you .slick-prev {
    position: absolute;
    font-size: 50px;
    left: 0;
    top: 30%;
    z-index: 1;
  }
  main .for_you .slick-next {
    position: absolute;
    font-size: 50px;
    right: 0;
    top: 30%;
    z-index: 1;
  }
  main .for_you .for_you_slider a .for_you_item img {
    width: 100%;
  }
  main .for_you .for_you_slider a .for_you_item .info {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
  main .for_you .for_you_slider a .for_you_item .info span {
    color: #000000;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(1) {
    font-size: 15px;
    letter-spacing: 4px;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(2) {
    font-size: 12px;
    color: #747474;
    padding-bottom: 10px;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(3) {
    font-size: 20px;
    font-weight: bold;
    position: relative;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(3).promo {
    color: #BB2000;
  }
  main .for_you .for_you_slider a .for_you_item .info span:nth-child(3) span {
    display: inline;
    position: absolute;
    font-weight: normal;
    text-decoration: line-through;
    letter-spacing: normal;
    color: #747474;
    padding-left: 8px;
  }
  main .blog button {
    border: none;
    background-color: transparent;
    color: #ffffff;
  }
  main .blog .slick-prev {
    position: absolute;
    font-size: 50px;
    left: 10%;
    top: 40%;
    z-index: 1;
  }
  main .blog .slick-next {
    position: absolute;
    font-size: 50px;
    right: 10%;
    top: 40%;
    z-index: 1;
  }
  main .blog span {
    display: block;
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
    padding-bottom: 42px;
    color: #707070;
  }
  main .blog .social {
    display: block;
    text-align: center;
    padding-bottom: 44px;
  }
  main .blog .social a {
    color: #000000;
    font-size: 30px;
  }
  main .blog .blog_slider {
    padding-right: 128px;
    padding-left: 128px;
    padding-bottom: 66px;
  }
  main .blog .blog_slider img {
    width: 95%;
    margin: 0 auto;
  }
  main .benefits {
    padding-left: 141px;
    padding-right: 141px;
    padding-bottom: 38px;
  }
  main .benefits span {
    font-size: 20px;
    display: block;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 52px;
  }
  main .benefits .benefits_items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    padding-bottom: 46px;
  }
  main .benefits .benefits_items img {
    width: 100%;
  }
  main .benefits p {
    padding-left: 140px;
    padding-right: 140px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
  }
  footer .discount {
    text-align: center;
    background-color: #F5F5F5;
    padding-bottom: 42px;
    padding-right: 18px;
    padding-left: 10px;
  }
  footer .discount h2 {
    padding-top: 47px;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 4px;
  }
  footer .discount p {
    padding-top: 5px;
    font-size: 18px;
    padding-bottom: 20px;
  }
  footer .discount button {
    width: 195px;
    height: 45px;
    background-color: #231F20;
    border: none;
  }
  footer .discount button a {
    display: block;
    width: 100%;
    height: 24vw;
    background-color: #F9F9F9;
  }
  footer .discount button a a {
    display: block;
    font-size: 1.2em;
    color: #231F20;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */