
.icon-left-arrow:before { content: '\e800'; } /* '' */
.icon-right-arrow:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-facebook2:before { content: '\e80d'; } /* '' */
.icon-facebook:before { content: '\e80e'; } /* '' */